<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <title>BP Calculator</title>
        <script src="/webjars/bootstrap/js/bootstrap.min.js"></script>
        <script src="/webjars/jquery/jquery.min.js"></script>
        <link rel="stylesheet" href="/webjars/bootstrap/css/bootstrap.min.css" />
        <link rel="stylesheet" href="/webjars/font-awesome/css/all.css" />
    </head>    
    <body>
        <div class="container"><br/>
            <h4 style="color: #3372FF"><span class="fa-solid fa-droplet"></span>&nbsp;&nbsp;BP Category Calculator</h4>
            <hr />
            <form action="#" th:action="@{/}" th:object="${bpPressure}" method="post">
                <div class="input-group mb-3">
                    <input type="number" th:field="*{systolic}" class="form-control" placeholder="Systolic Pressure">
                    <span class="input-group-text">mmHg</span>
                    <p class="input-group alert alert-warning" style="padding: 0 0 0 10px" th:if="${#fields.hasErrors('systolic')}" th:errors="*{systolic}"/>
                </div>
                
                <div class="input-group mb-3">
                    <input type="number" th:field="*{diastolic}" class="form-control" placeholder="Diastolic Pressure">
                    <span class="input-group-text">mmHg</span>
                    <p class="input-group alert alert-warning" style="padding: 0 0 0 10px" th:if="${#fields.hasErrors('diastolic')}" th:errors="*{diastolic}"/>
                </div>
                
                <div class="input-group mb-5">
                    <button type="submit" class="btn btn-primary">Calculate</button>
                </div>

                <div class="input-group mb-5" th:if="${bpPressure.category != null}">
                    <p class="input-group alert alert-primary" th:text="${bpPressure.category}"/>
                </div>
            </form>
        </div>
    </body>
</html>
